<!-- 
  <div class="row">
    <div class="col-md-6 mx-auto mt-5">
      <h2>Login</h2>
      {% if error_message %}
        <p class="text-danger">{{ error_message }}</p>
      {% endif %}
      <form method='POST' action="">
        {% csrf_token %}
        <div class="form-group">
          <label for="username">email</label>
          <input type="text" class="form-control" id="email" name="email" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Login</button>
      </form>
      <a href="{% url 'register' %}">New user?Sign up now</a>
    </div>
  </div>

 -->


 <form class="form" action="" method='POST'>
  {% csrf_token %}
    <label for="email">Email</label>
    <input id="username" name="email" type="email" placeholder="e.g. name@gmail.com />
    <label for="password">Password</label>
    <input id="password" name="password" type="password"/>
    <input id="submit" name="submit" type="submit">Login</input>
 </form>
 <a href="{% url 'register' %}">register</a>